<router-outlet></router-outlet>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Николай Николаевич</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Очистка парка от мусора 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Участвовать</button>
      
    </mat-card-actions>
  </mat-card>